@page
@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="display-4">Contacts</h1>
    <p>You can find us on<a href="https://www.facebook.com/ultimate.frisbee.lviv/"> Facebook </a> or on phone +380981818798 </p>
</div>
