@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    /*body {
        background-color: black;
        color: white;

    }*/

</style>

<div class="text-center">
    <h1 class="display-4"><b>E-Motion</b></h1>
    <p><img src="41980162_2111905542459023_3017199415745052672_o.jpg"/></p>
    <p>
        We are a team from Lviv (Ukraine).
        The current indoor champions of Ukraine, in 2018 champions Ukraine on the lawn.
        We invite you to join us.
    </p>
    <p>You can find our results <a href ="https://175g.ru/wiki/teams/EMotion">here</a></p>
</div>


